<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BEAR.Streamer</title>
</head>
<body>
<p>Hello, {{ name }}</p>
<img src="data:image/jpg;base64,{{ image }}">
</body>
</html>